
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    color: white;
}

body{
    background-color: #057336;
    overflow-x: hidden;
}

.header{
    height: 100vh;
    width: 100%;
}

.navbar{
    padding: 15px 18px !important;
}

.logo{
    font-weight: 600;
    color: rgb(255, 255, 255) !important;
}

.nav-item{
    margin: 0px 10px;
}

.nav-item .nav-link{
    color: rgb(245, 245, 245);
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.nav-link::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: #0b2d22;
    width: 0%;
    height: 3px;
    transition: 0.4s ease-in-out;
}

.nav-item:hover .nav-link::after{
    width: 100%;
}

.nav-link:hover{
    color: #0b2d22;
}

.btn-navbar{
    display: inline-block;
    padding: 10px 43px;
    border: 1px solid rgb(128, 240, 255);
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(128, 240, 255);
    transition: 0.2s ease;
}

.btn-navbar:hover{
    background-color: transparent;
    color: rgb(255, 134, 134);
    border: 1px solid rgb(255, 134, 134);
}
.content-home2{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-spam{
    color: rgb(241, 21, 21);
}

.home-heading{
    font-size: 50px;
    font-weight: 700;
    line-height: 74px;
}

.para-home{
    font-size: 13px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    max-width: 400px;
    line-height: 24px;
    margin: 14px 0px;
}

.home-links{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #104332;
    background-color: #104332;
    margin: 20px 0px;
    margin-right: 7px;
    border-radius: 50px;
    padding: 10px 37px;
    font-size: 14px;
    font-weight: 600;
    transition: 0.2s ease;
}

.home-links:hover{
    background-color: transparent;
    color: #0b2d22;
    border: 1px solid #0b2d22 !important;
}

.img-home{
    margin-right: 20px;
    width: 500px;
}
