.green{
    background-color: #101443;
}/*Creates a colour*/

.lightgreen{
    background-color: #053173;;
}/*Creates a colour*/

.darkgreen{
    background-color: #6C7AA4;
}/*Creates a colour*/

.buttontext{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;
font-size: x-large;
color: white;
}/*Creates a typography for the text of the buttons, adding color, font weight and size*/

.greenbutton{
    background-color: #101443;
    transition: background-color 0.3s ease; /* TransiciÃ³n suave */
}

.greenbutton:hover{
    background-color: #0b0e2e;
}