<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lading Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/landing.css">
</head> 
<body>
    <header>
        <div class="header">
            <div class="container-fluid gx-0">
                <!-- Aqui empieza el navbar -->
                <nav class="navbar navbar-expand-lg">
                    <div class="container">
                      <h1 class="navbar-brand logo text-uppercase" href="#">ArrowSage</h1>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                          <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/loginTeachers">Login Teachers</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/login">Login Students</a>
                </li>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                <!-- Aqui termina el navbar -->

                <div class="container">
                    <div class="content-home">
                        <div class="row content-home2">
                            <div class="col-lg-7 col-md-5">
<div class="box-container">
                                    <img src="img/Logo-Recovered.png" class="img-home" alt="banner img">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-7">
                                <div class="box-container">
                                    <h1 class="home-heading">We can help you with your sessions <span>after school classes</span></h1>
                                        <p class="para-home">
                                            You need help with your classes and you don't know where you can find it? you are in the best place to do that. if you don't have account create a new one with the button "start".
                                        </p>
                                        <div class="btn-home">
                                            <a href="/register" class="home-links">Start</a>
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
<!-- Archivos script -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</html>