<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Alumno</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./styles/LoginTeacherstyle.css">
    <link rel="icon" href="./img/teachers-logo.ico" type="image/x-icon">
</head>
<body >

    <nav class="navbar green">
          <!--Creates a navbar utilising css for colouring and bootstrap for formatting-->
          <div class="navbar-button px-2">
            <!--Creates a division which resizes the button-->
            <h1 class="buttontext">ArrowSage</h1>
            <!--Creates a squared button with a dark green colouring-->
        </div>
        <div class="navbar-button px-2">
            <!--Creates a division which resizes the button-->
            <button id="logoButton" class="btn btn-block buttontext">Home</button>
            <!--Creates a squared button with a dark green colouring-->
        </div>
      </nav>

      <div>
        <% if(errors != "") { %>
            <% errors.forEach((item) => { %>
                <div class="alert alert-danger">
                    <%- item %>
                </div>
            <% }); %>
        <% } %>
    </div>


<div class="container mt-5 mx-auto ">
     <!--Creates a container which centers itself-->
    <div class="row justify-content-center">
          <!--Creates a container which centers everything inside it-->
        <div class="col-md-6">
            <div class="card">
                    <!--Creates a container with card properties using bootstrap-->
                <div class="card-header text-center green">
                    <!--Makes a coloured header for the container and centers its contents-->
                    <img src="/img/logo_utch.png" class="w-25 h-25">
                     <!--This is an image, it resizes itself using bootstrap-->
                </div>
                <div class="card-body lightgreen">
                    <!--Makes a coloured body for the card-->
                    <form action="/loginTeachers" method="post">
                    <!--With proper coding, the form attribute will allows us to group the data and submit the input by the id-->
                        <div class="form-group py-3">
                               <!--Container which separates vertically the inputs-->
                            <label for="teacherEmail"></label>
                            <input type="email" class="form-control" name="teacherEmail" id="teacherEmail" placeholder="institutional Email" required>
                               <!--An input type where you can type the username-->
                        </div>
                        <div class="form-group py-3">
                               <!--Container which separates vertically the inputs-->
                            <label for="teacherPassword"></label>
                            <input type="password" class="form-control" name="teacherPassword" id="teacherPassword" placeholder="Password" required>
                               <!--An input type where you can type the password-->
                        </div>
                        <button type="submit" class="btn btn-block py-3 darkgreen buttontext">Login</button>
                        <!--Creates a squared button with a dark green colouring with vertical spacing, which then would allow you to submit the requested data-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.getElementById('logoButton').addEventListener('click', function() {
                window.location.href = '/';
    });
</script>

</body>
</html>