<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>citasProfes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/teachersubjectsstyle.css">
    <link rel="icon" href="./img/teachers-logo.ico" type="image/x-icon">
</head>

<header>
    <div class="container-fluid green">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link text-light" href="../teachers">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="https://calendar.google.com/calendar/u/0?cid=MDkzZjRmYmRmYzIyMDliNWNmZTYxNWFiODQzMWQ4YTRmMDU5ZjczZDFhOGRlN2Y5ZjkzNTlmYjUyZmM4MTMyNkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t">calendar</a>
            </li>
            <li class="nav-item ml-auto">
                <form method="POST" action="/logoutTeachers">
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
            </li>
        </ul>
    </div>
  </header>
<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4 my-5">
            <div class="card">
                <div class="card-header lightgreen text-white">
                    <!-- Puedes poner aquí cualquier encabezado que desees mostrar -->
                </div>
                <div class="card-body">
                    <h5 class="card-title">Request session after school classes</h5>
                    <p class="card-text">The student <span style="color: blue; text-decoration: underline;"><%= studentName %></span> has requested session after school classes on the subject <span style="color: blue; text-decoration: underline;">Differential Calculus</span></p>
                    <a href="#" class="card-link">See details</a>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
<!-- Formulario para Declinar -->
<form action="/TeacherSubjects/declineAssessment" method="post">
    <input type="hidden" name="assessmentId" value="1">
    <button class="btn btn-block btn-secondary me-md-2" type="submit">Decline</button>
</form>

<!-- Formulario para Aceptar -->
<form action="/TeacherSubjects/acceptAssessment" method="post">
    <input type="hidden" name="assessmentId" value="1">
    <button class="btn btn-block greenbutton text-white" type="submit">Accept</button>
</form>
                    </div>
                </div>
                <div class="card-footer lightgreen text-white">
                    <%= StatusName %>
                </div>
            </div>
        </div>
        
    </div>
</div>
        
<div class="container">
    <div class="row">
        <div class="mb-4 my-5">
            <div class="information">
                <div class="card green">
                    <h2 class="text-center my-5 text-white my-2">Your sessions after school classes</h2>
                </div>


                <footer class="green py-5 mt-5">
                    <div class="container-fluid text-light text-center">
                        <p class="display-5 mb-3">ArrowSage</p>
                        <small class="text-white-50">&copy; Copyright by ThunderArrow. All rights reserved.</small>
                    </div>
                </footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</body>

</html>
