.rejas
{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: lem;
    background-color: rgb(0, 0, 0);
    color:aliceblue;
    padding: 20px;
}

.elementos
{
    background-color: rgba(73, 225, 197, 0.761);
    text-align: center;
    padding: 20px;
}

.elemento1
{
    background-color: rgba(73, 225, 197, 0.761);
    text-align: center;
    padding: 5%;
    grid-column: 2/3; 
    grid-row: 4/4;
}